executor {
  name = 'lsf'
  perJobMemLimit = true
}
process {
  withName: split_sample_sheet_task {
    executor="local"
  }
  withLabel: BSUB_OPTIONS_BWA_MEM {
    cpus = 40
    memory = 5.GB
  }
  withLabel: BSUB_OPTIONS_LARGE {
    cpus = 13
    memory = 7.GB
  }
  withLabel: BSUB_OPTIONS_SMALL {
    cpus = 8
    memory = 6.GB
  }
  withLabel: BSUB_OPTIONS_DEMUX {
    cpus = 36
    memory = 6.GB
  }
}
env {
  BWA="/opt/common/CentOS_7/bwa/bwa-0.7.17/bwa"
  PICARD="java -jar /home/igo/resources/picard2.21.8/picard.jar"
  SEQUENCER_DIR="/igo/sequencers"
  FASTQ_DIR="/igo/work/streidd/PIPELINE_TESTS/FASTQ_1.25"
  STATS_DIR="/igo/work/streidd/PIPELINE_TESTS/stats_1.25"
  LAB_SAMPLE_SHEET_DIR="/pskis34/LIMS/LIMS_SampleSheets"
  SAMPLE_SHEET_DIR="/igo/work/streidd/PIPELINE_TESTS/SampleSheetCopies"
  PROCESSED_SAMPLE_SHEET_DIR="/igo/work/streidd/PIPELINE_TESTS/DividedSampleSheets"
  LOG_FILE="/igo/work/streidd/PIPELINE_TESTS/nf_fastq_run_1.25.log"
  DEMUX_LOG_FILE="/igo/work/streidd/PIPELINE_TESTS/bcl2fastq.log"
  SPLIT_SAMPLE_SHEETS="split_sample_sheets.txt"
  RUN_PARAMS_FILE="run_params.txt"
  PIPELINE_OUT="./pipeline_out"
  UNASSIGNED_PARAMETER="NOT_DETECTED"
  OUT_BWA="BWA"
  RUN_ERROR="RUN_ERROR"
}
