process {
  executor="lsf"
}
env {
  SEQUENCER_DIR="/igo/sequencers"
  FASTQ_DIR="/igo/work/FASTQ"
  STATS_DIR="/igo/stats"
  SAMPLE_SHEET_DIR="/home/igo/SampleSheetCopies"
  RUN_PARAMS_FILE="run_params.txt"
  LOG_FILE="$HOME/nf_fastq_run.log"
  RUNS_TO_DEMUX_FILE="Run_to_Demux.txt"
  PIPELINE_OUT="./pipeline_out"
  RUN_AGE=60
  UNASSIGNED_PARAMETER="NOT_DETECTED"
  BWA="/opt/common/CentOS_7/bwa/bwa-0.7.17/bwa"
  PICARD="java -jar /home/igo/resources/picard2.21.8/picard.jar"
  OUT_BWA="BWA"
}
