executor {
  name = 'lsf'
  perJobMemLimit = true
  scratch = true
  TMPDIR = '/scratch'
}
process {
  withName: split_sample_sheet_task {
    executor="local"
  }
  withName: align_to_reference_task {
    cpus = 1
    memory = 1.GB
  }
  withLabel: LOCAL {
    executor="local"
  }
  withLabel: simple_lsf_task {
    cpus = 1
    memory = 1.GB
    clusterOptions = "-o simple_lsf_task.out"
  }
  withLabel: BSUB_OPTIONS_BWA_MEM {
    cpus = 40
    memory = 5.GB
    clusterOptions = "-o bsub_bwa_mem.out"
  }
  withLabel: BSUB_OPTIONS_LARGE {
    cpus = 13
    memory = { 7.GB * task.attempt }
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 1
    clusterOptions = "-o bsub.out"
  }
  withLabel: BSUB_OPTIONS_SMALL {
    cpus = 8
    memory = { 6.GB * task.attempt }
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 1
    clusterOptions = "-o bsub.out"
  }
  withLabel: BSUB_OPTIONS_DEMUX {
    cpus = 36
    memory = { 6.GB * task.attempt }
    errorStrategy = 'retry'
    maxRetries = 3
    clusterOptions = "-o bsub_demux.out"
  }
}
env {
  BWA="/opt/common/CentOS_7/bwa/bwa-0.7.17/bwa"
  PICARD="java -jar /home/igo/resources/picard2.21.8/picard.jar"
  SAMTOOLS="/igo/work/bin/tapestri/pipeline/bin/samtools"
  BCL2FASTQ="/opt/common/CentOS_6/bcl2fastq/bcl2fastq2-v2.20.0.422/bin/bcl2fastq"
  CELL_RANGER="/igo/work/bin/cellranger-6.0.1/cellranger"
  CELL_RANGER_ATAC="/igo/work/bin/cellranger-atac-1.2.0/cellranger-atac"
  CELL_RANGER_CNV="/igo/work/bin/cellranger-dna-1.1.0/cellranger-dna"
  CELL_RANGER_ARC="/igo/work/bin/cellranger-arc-2.0.0/cellranger-arc"
  SPACERANGER="/igo/work/bin/spaceranger-1.3.0/spaceranger"

  SEQUENCER_DIR="/igo/sequencers"
  FASTQ_DIR="/igo/staging/FASTQ"
  ARCHIVED_DIR="/igo/delivery/FASTQ"
  STATS_DIR="/igo/staging/stats"
  LAB_SAMPLE_SHEET_DIR="/pskis34/LIMS/LIMS_SampleSheets"
  PROCESSED_SAMPLE_SHEET_DIR="/home/igo/DividedSampleSheets"
  COPIED_SAMPLE_SHEET_DIR="/home/igo/SampleSheetCopies"
  STATSDONEDIR="/igo/stats/DONE"
  SAMPLE_BAM_DIR="/igo/staging/BAM"

  SHARED_SINGLE_CELL_DIR="/home/igo/shared-single-cell"
  CROSSCHECK_DIR="/home/igo/nextflow/crosscheck_metrics"

  LOG_FILE="/home/igo/log/nf_fastq_plus/nf_fastq_run.log"
  CMD_FILE="/home/igo/log/nf_fastq_plus/commands.log"
  DEMUX_LOG_FILE="/home/igo/log/nf_fastq_plus/bcl2fastq.log"

  DATA_TEAM_EMAIL="streidd@mskcc.org"
  IGO_EMAIL="streidd@mskcc.org naborsd@mskcc.org mcmanamd@mskcc.org cobbsc@mskcc.org hubermak@mskcc.org vialea@mskcc.org"

  CELLRANGER_WAIT_TIME=30
  LOCAL_MEM=1

  SPLIT_SAMPLE_SHEETS="split_sample_sheets.txt"
  RUN_PARAMS_FILE="sample_params.txt"
  SKIP_FILE_KEYWORD="SKIP_THIS_FILE"
  PIPELINE_OUT="./pipeline_out"
  UNASSIGNED_PARAMETER="NOT_DETECTED"
  OUT_BWA="BWA"
  RUN_ERROR="RUN_ERROR"
}
